* {
    box-sizing: border-box;
    font-family: monospace, arial, sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;    
    text-align: center;
}

body {
    background-color: #fafafa;
}

.app {
    position: absolute;
    max-width: 400px;
    padding: 10px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid black;
}

/*============= header =============*/
.heading p {
    font-size: xx-large;
    padding: 20px;
}

/*============= file import =============*/
.user-input {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    
}

#drop-area {
    text-align: center;
}

#img-view {
    width: 350px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border: 2px solid black;
}

#img-view span {
    display: block;
    font-size: 12px;
    margin-top: 10px;
}


/*============= user operation =============*/

.butter button, .result p {
    padding: 7px;
    margin: 5px auto;
    background-color: #fafafa;
    width: 70%;
    border: 2px solid black;
}

.result {
    display: none;
}
